In [1]:
import numpy as np
import pandas as pd

In [2]:
Transaction = pd.read_csv('data/E-Commerce.csv', encoding = "ISO-8859-1")

In [4]:
Transaction.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

In [14]:
pd.set_option('max_columns', 28, 'max_rows', 30)

In [15]:
data = Transaction.values

In [16]:
data[0:9, :]

array([['536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6,
        '12/1/2010 8:26', 2.55, 17850.0, 'United Kingdom'],
       ['536365', '71053', 'WHITE METAL LANTERN', 6, '12/1/2010 8:26',
        3.39, 17850.0, 'United Kingdom'],
       ['536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8,
        '12/1/2010 8:26', 2.75, 17850.0, 'United Kingdom'],
       ['536365', '84029G', 'KNITTED UNION FLAG HOT WATER BOTTLE', 6,
        '12/1/2010 8:26', 3.39, 17850.0, 'United Kingdom'],
       ['536365', '84029E', 'RED WOOLLY HOTTIE WHITE HEART.', 6,
        '12/1/2010 8:26', 3.39, 17850.0, 'United Kingdom'],
       ['536365', '22752', 'SET 7 BABUSHKA NESTING BOXES', 2,
        '12/1/2010 8:26', 7.65, 17850.0, 'United Kingdom'],
       ['536365', '21730', 'GLASS STAR FROSTED T-LIGHT HOLDER', 6,
        '12/1/2010 8:26', 4.25, 17850.0, 'United Kingdom'],
       ['536366', '22633', 'HAND WARMER UNION JACK', 6, '12/1/2010 8:28',
        1.85, 17850.0, 'United Kingdom'],
       ['536366', '22632', 'HAND WARMER RED POLKA DOT', 6,
        '12/1/2010 8:28', 1.85, 17850.0, 'United Kingdom']], dtype=object)

In [17]:
Transaction.iloc[0:20, :]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,12/1/2010 8:34,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,12/1/2010 8:34,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,12/1/2010 8:34,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,12/1/2010 8:34,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,12/1/2010 8:34,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,12/1/2010 8:34,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,12/1/2010 8:34,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,12/1/2010 8:34,7.95,13047.0,United Kingdom

In [18]:
Transaction.shape

(541909, 8)

# Getting Familiar with Main DataFrame components

In [19]:
columns = Transaction.columns
index = Transaction.index
data = Transaction.values

In [20]:
columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [21]:
index

RangeIndex(start=0, stop=541909, step=1)

In [22]:
data

array([['536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', ...,
        2.55, 17850.0, 'United Kingdom'],
       ['536365', '71053', 'WHITE METAL LANTERN', ..., 3.39, 17850.0,
        'United Kingdom'],
       ['536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', ..., 2.75,
        17850.0, 'United Kingdom'],
       ...,
       ['581587', '23254', 'CHILDRENS CUTLERY DOLLY GIRL ', ..., 4.15,
        12680.0, 'France'],
       ['581587', '23255', 'CHILDRENS CUTLERY CIRCUS PARADE', ..., 4.15,
        12680.0, 'France'],
       ['581587', '22138', 'BAKING SET 9 PIECE RETROSPOT ', ..., 4.95,
        12680.0, 'France']], dtype=object)

In [23]:
data.shape

(541909, 8)

In [24]:
data[:1, :]

array([['536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6,
        '12/1/2010 8:26', 2.55, 17850.0, 'United Kingdom']], dtype=object)

In [25]:
type(index)

pandas.core.indexes.range.RangeIndex

In [26]:
type(columns)

pandas.core.indexes.base.Index

In [27]:
type(data)

numpy.ndarray

In [28]:
columns.values

array(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'], dtype=object)

# Getting Familiar with Data Types

In [30]:
Transaction.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [31]:
Transaction.get_dtype_counts()

float64    2
int64      1
object     5
dtype: int64

# Selecting a Single Column or Multiple Columns as Series

In [33]:
Transaction['Description']

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
5                SET 7 BABUSHKA NESTING BOXES
6           GLASS STAR FROSTED T-LIGHT HOLDER
7                      HAND WARMER UNION JACK
8                   HAND WARMER RED POLKA DOT
9               ASSORTED COLOUR BIRD ORNAMENT
10                 POPPY'S PLAYHOUSE BEDROOM
11                  POPPY'S PLAYHOUSE KITCHEN
12          FELTCRAFT PRINCESS CHARLOTTE DOLL
13                    IVORY KNITTED MUG COSY
14         BOX OF 6 ASSORTED COLOUR TEASPOONS
                         ...
541894               CIRCUS PARADE LUNCH BOX
541895         PLASTERS IN TIN CIRCUS PARADE
541896              PLASTERS IN TIN STRONGMAN
541897              ALARM CLOCK BAKELIKE PINK
541898              ALARM CLOCK BAKELIKE RED
541899             ALARM CLOCK BAKELIKE GREEN
541900             ALARM CLOCK BAKELIKE IVORY
541901        CHILDRENS APRON SPACEBOY DESIGN
541902                    SPACEBOY LUNCH BOX
541903            CHILDRENS CUTLERY SPACEBOY
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [34]:
type(Transaction['Description'])

pandas.core.series.Series

In [35]:
Transaction[['StockCode', 'Description']]

       StockCode                          Description
0         85123A   WHITE HANGING HEART T-LIGHT HOLDER
1          71053                  WHITE METAL LANTERN
2         84406B       CREAM CUPID HEARTS COAT HANGER
3         84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4         84029E       RED WOOLLY HOTTIE WHITE HEART.
5          22752         SET 7 BABUSHKA NESTING BOXES
6          21730    GLASS STAR FROSTED T-LIGHT HOLDER
7          22633               HAND WARMER UNION JACK
8          22632            HAND WARMER RED POLKA DOT
9          84879        ASSORTED COLOUR BIRD ORNAMENT
10         22745           POPPY'S PLAYHOUSE BEDROOM
11         22748            POPPY'S PLAYHOUSE KITCHEN
12         22749    FELTCRAFT PRINCESS CHARLOTTE DOLL
13         22310              IVORY KNITTED MUG COSY
14         84969   BOX OF 6 ASSORTED COLOUR TEASPOONS
...          ...                                  ...
541894     22631             CIRCUS PARADE LUNCH BOX
541895     22556       PLASTERS IN TIN CIRCUS PARADE
541896     22555            PLASTERS IN TIN STRONGMAN
541897     22728            ALARM CLOCK BAKELIKE PINK
541898     22727            ALARM CLOCK BAKELIKE RED
541899     22726           ALARM CLOCK BAKELIKE GREEN
541900     22730           ALARM CLOCK BAKELIKE IVORY
541901     22367      CHILDRENS APRON SPACEBOY DESIGN
541902     22629                  SPACEBOY LUNCH BOX
541903     23256          CHILDRENS CUTLERY SPACEBOY
541904     22613          PACK OF 20 SPACEBOY NAPKINS
541905     22899         CHILDREN'S APRON DOLLY GIRL
541906     23254        CHILDRENS CUTLERY DOLLY GIRL
541907     23255      CHILDRENS CUTLERY CIRCUS PARADE
541908     22138        BAKING SET 9 PIECE RETROSPOT

[541909 rows x 2 columns]

In [36]:
Transaction.Description

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
5                SET 7 BABUSHKA NESTING BOXES
6           GLASS STAR FROSTED T-LIGHT HOLDER
7                      HAND WARMER UNION JACK
8                   HAND WARMER RED POLKA DOT
9               ASSORTED COLOUR BIRD ORNAMENT
10                 POPPY'S PLAYHOUSE BEDROOM
11                  POPPY'S PLAYHOUSE KITCHEN
12          FELTCRAFT PRINCESS CHARLOTTE DOLL
13                    IVORY KNITTED MUG COSY
14         BOX OF 6 ASSORTED COLOUR TEASPOONS
                         ...
541894               CIRCUS PARADE LUNCH BOX
541895         PLASTERS IN TIN CIRCUS PARADE
541896              PLASTERS IN TIN STRONGMAN
541897              ALARM CLOCK BAKELIKE PINK
541898              ALARM CLOCK BAKELIKE RED
541899             ALARM CLOCK BAKELIKE GREEN
541900             ALARM CLOCK BAKELIKE IVORY
541901        CHILDRENS APRON SPACEBOY DESIGN
541902                    SPACEBOY LUNCH BOX
541903            CHILDRENS CUTLERY SPACEBOY
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [37]:
Products = Transaction['Description']

In [38]:
Products.name

'Description'

In [40]:
Products.to_frame().head(10)

                           Description
0   WHITE HANGING HEART T-LIGHT HOLDER
1                  WHITE METAL LANTERN
2       CREAM CUPID HEARTS COAT HANGER
3  KNITTED UNION FLAG HOT WATER BOTTLE
4       RED WOOLLY HOTTIE WHITE HEART.
5         SET 7 BABUSHKA NESTING BOXES
6    GLASS STAR FROSTED T-LIGHT HOLDER
7               HAND WARMER UNION JACK
8            HAND WARMER RED POLKA DOT
9        ASSORTED COLOUR BIRD ORNAMENT

In [41]:
StockCode = Transaction['StockCode']

In [42]:
StockCode.value_counts()

85123A      2313
22423       2203
85099B      2159
47566       1727
20725       1639
84879       1502
22720       1477
22197       1476
21212       1385
20727       1350
22383       1348
22457       1280
23203       1267
POST        1256
22386       1251
            ...
85035c         1
90102          1
79342B         1
23059          1
22143          1
DCGS0071       1
23643          1
72800F         1
20864          1
85036a         1
DCGS0067       1
35600A         1
20871          1
84964B         1
77081          1
Name: StockCode, Length: 4070, dtype: int64

In [43]:
len(Products)

541909

In [44]:
Products.count() # Because of nan

540455

In [45]:
541909-540455

1454

In [46]:
Transaction['Quantity'] = Transaction['Quantity'].fillna(0)

In [47]:
Transaction['UnitPrice'] = Transaction['UnitPrice'].fillna(0)

In [50]:
Transaction['Total Price'] = Transaction['Quantity'] * Transaction['UnitPrice']

In [51]:
Transaction.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom,15.30
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom,25.50
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,11.10
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom,11.10
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom,54.08

In [54]:
Transaction['Total Price'].min()

-168469.6

In [55]:
Transaction['Total Price'].max()

168469.6

In [56]:
Transaction['Total Price'].describe()

count    541909.000000
mean         17.987795
std         378.810824
min     -168469.600000
25%           3.400000
50%           9.750000
75%          17.400000
max      168469.600000
Name: Total Price, dtype: float64