In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('data/E-Commerce.csv', encoding = "ISO-8859-1")

In [7]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [13]:
pd.set_option('max_columns', 28, 'max_rows', 10)

In [14]:
data= df.values

In [15]:
data[:6]

array([['536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6,
        '12/1/2010 8:26', 2.55, 17850.0, 'United Kingdom'],
       ['536365', '71053', 'WHITE METAL LANTERN', 6, '12/1/2010 8:26',
        3.39, 17850.0, 'United Kingdom'],
       ['536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', 8,
        '12/1/2010 8:26', 2.75, 17850.0, 'United Kingdom'],
       ['536365', '84029G', 'KNITTED UNION FLAG HOT WATER BOTTLE', 6,
        '12/1/2010 8:26', 3.39, 17850.0, 'United Kingdom'],
       ['536365', '84029E', 'RED WOOLLY HOTTIE WHITE HEART.', 6,
        '12/1/2010 8:26', 3.39, 17850.0, 'United Kingdom'],
       ['536365', '22752', 'SET 7 BABUSHKA NESTING BOXES', 2,
        '12/1/2010 8:26', 7.65, 17850.0, 'United Kingdom']], dtype=object)

In [16]:
df.shape

(541909, 8)

# Getting Familiar with Main DataFrame components

In [17]:
columns = df.columns
index = df.index
data = df.values

In [18]:
columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [19]:
index

RangeIndex(start=0, stop=541909, step=1)

In [20]:
data

array([['536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', ...,
        2.55, 17850.0, 'United Kingdom'],
       ['536365', '71053', 'WHITE METAL LANTERN', ..., 3.39, 17850.0,
        'United Kingdom'],
       ['536365', '84406B', 'CREAM CUPID HEARTS COAT HANGER', ..., 2.75,
        17850.0, 'United Kingdom'],
       ...,
       ['581587', '23254', 'CHILDRENS CUTLERY DOLLY GIRL ', ..., 4.15,
        12680.0, 'France'],
       ['581587', '23255', 'CHILDRENS CUTLERY CIRCUS PARADE', ..., 4.15,
        12680.0, 'France'],
       ['581587', '22138', 'BAKING SET 9 PIECE RETROSPOT ', ..., 4.95,
        12680.0, 'France']], dtype=object)

In [21]:
data.shape

(541909, 8)

In [22]:
data[:1,:]

array([['536365', '85123A', 'WHITE HANGING HEART T-LIGHT HOLDER', 6,
        '12/1/2010 8:26', 2.55, 17850.0, 'United Kingdom']], dtype=object)

In [23]:
type(index)

pandas.core.indexes.range.RangeIndex

In [25]:
type(columns)

pandas.core.indexes.base.Index

In [26]:
type(data)

numpy.ndarray

In [27]:
index.values

array([     0,      1,      2, ..., 541906, 541907, 541908], dtype=int64)

In [29]:
columns.values

array(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'], dtype=object)

# Getting Familiar with Data Types

In [31]:
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [34]:
df.get_dtype_counts()

float64    2
int64      1
object     5
dtype: int64

# Selecting a Single Column or Multiple Columns as Series

In [35]:
df['InvoiceNo']

0         536365
1         536365
2         536365
3         536365
4         536365
           ...
541904    581587
541905    581587
541906    581587
541907    581587
541908    581587
Name: InvoiceNo, Length: 541909, dtype: object

In [36]:
df[['StockCode', 'Description']]

       StockCode                          Description
0         85123A   WHITE HANGING HEART T-LIGHT HOLDER
1          71053                  WHITE METAL LANTERN
2         84406B       CREAM CUPID HEARTS COAT HANGER
3         84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4         84029E       RED WOOLLY HOTTIE WHITE HEART.
...          ...                                  ...
541904     22613          PACK OF 20 SPACEBOY NAPKINS
541905     22899         CHILDREN'S APRON DOLLY GIRL
541906     23254        CHILDRENS CUTLERY DOLLY GIRL
541907     23255      CHILDRENS CUTLERY CIRCUS PARADE
541908     22138        BAKING SET 9 PIECE RETROSPOT

[541909 rows x 2 columns]

In [38]:
df.Description

0          WHITE HANGING HEART T-LIGHT HOLDER
1                         WHITE METAL LANTERN
2              CREAM CUPID HEARTS COAT HANGER
3         KNITTED UNION FLAG HOT WATER BOTTLE
4              RED WOOLLY HOTTIE WHITE HEART.
                         ...
541904            PACK OF 20 SPACEBOY NAPKINS
541905           CHILDREN'S APRON DOLLY GIRL
541906          CHILDRENS CUTLERY DOLLY GIRL
541907        CHILDRENS CUTLERY CIRCUS PARADE
541908          BAKING SET 9 PIECE RETROSPOT
Name: Description, Length: 541909, dtype: object

In [39]:
type(df['Description'])

pandas.core.series.Series

In [40]:
Products = df['Description']

In [41]:
Products.name

'Description'

In [42]:
Products.to_frame().head()

                           Description
0   WHITE HANGING HEART T-LIGHT HOLDER
1                  WHITE METAL LANTERN
2       CREAM CUPID HEARTS COAT HANGER
3  KNITTED UNION FLAG HOT WATER BOTTLE
4       RED WOOLLY HOTTIE WHITE HEART.

In [43]:
StockCode = df['StockCode']

In [44]:
StockCode.value_counts()

85123A    2313
22423     2203
85099B    2159
47566     1727
20725     1639
          ...
85018B       1
84726        1
79341        1
77081        1
84620        1
Name: StockCode, Length: 4070, dtype: int64

In [45]:
Products.shape

(541909,)

In [46]:
Products.size

541909

In [47]:
len(Products)

541909

In [48]:
Products.count() # Non-Missing Values

540455

In [50]:
df['Quantity'] = df['Quantity'].fillna(0)

In [51]:
df['UnitPrice'] = df['UnitPrice'].fillna(0)

In [56]:
df['Total Price'] = df['Quantity'] * df['UnitPrice']

In [54]:
df['Quantity'].size

541909

In [55]:
df['UnitPrice'].size

541909

In [57]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Total Price
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [59]:
df.min()

InvoiceNo               536365
StockCode                10002
Quantity                -80995
InvoiceDate    1/10/2011 10:04
UnitPrice             -11062.1
CustomerID               12346
Country              Australia
Total Price            -168470
dtype: object

In [60]:
TP = df['Total Price']

In [62]:
TP.min(), TP.max()

(-168469.6, 168469.6)

In [63]:
TP.mean(), TP.median()

(17.987794877005495, 9.75)

In [65]:
TP.mode()

0    15.0
dtype: float64

In [66]:
TP.std()

378.81082350615196

In [67]:
TP.describe()

count    541909.000000
mean         17.987795
std         378.810824
min     -168469.600000
25%           3.400000
50%           9.750000
75%          17.400000
max      168469.600000
Name: Total Price, dtype: float64